  <h1>¡Bienvenido!</h1>
  <p>Si eres un usuario registrado inicia sesion; sino, "Registrate"</p>
<form method = "get" action = "/login">
    <button type = "submit" name = "accion" value = "Login">Iniciar Sesion</button>
    <button type = "submit" name = "accion" value = "Reg">Registrarme</button>
</form>
  <h6> *Esta es la pagina de internet más simple que jamás haya sido creada, esperamos que no te diviertas y que tu experiencia con nosotros sea extremadamente desagradable.</h6>
  
