<h1>¡Felicidades <%= @name %> eres un Usuario!</h2>
    <h6> *Esta es la pagina de internet más simple que jamás haya sido creada, esperamos que no te diviertas y que tu experiencia con nosotros sea extremadamente desagradable.</h6>