  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>
  <form action="/fetch" method="post">
    <input type="text" name="user" placeholder="User name...">
    <input type="submit" value="Submit">
  </form>

  
