<% if @tags %>
    <% unless @tags.empty? %>
        <h3>Tags:</h3>
        <%@tags.each do |tag| %>
            <p>tag <%= tag.name %></p>
            <a href="/tag/find/post<%= post.id %>">Post(s)</a>
        <% end %>
    <% else %>
        <p>No hay ningún tag</p>
    <% end %>
<% end %>