Titulo de tu post:
    <br><input type="text" id ="title" name = "title" placeholder = "Titulo:"/><br>
    Escribe tu post:
    <br><textarea id = "post" name="post" cols = "50" rows = "4" placeholder = "Post:"></textarea><br>
    <br>Escribe tus tags:

    <br><input type="text" id ="tag1" name = "tags[tag1]" placeholder = "#tag"/>
    <br><input type="text" id ="tag2" name = "tags[tag2]" placeholder = "#tag"/>
    <br><input type="text" id ="tag3" name = "tags[tag3]" placeholder = "#tag"/>
    <br><input type="text" id ="tag4" name = "tags[tag4]" placeholder = "#tag"/>
    <br><input type="text" id ="tag5" name = "tags[tag5]" placeholder = "#tag"/><br>

    <br><button type = "sumbit">ENVIAR</button><br>
    <br><button type = "reset">RESET</button><br>