<header>
  <img src="img/codea-logo.png" id="logo">
</header>
  <h1 id="main-title">¡RAYUELA!</h1>

<div id="Users">
  <form id ="frm_1">
    <label>
      Player 1:
    </label>
    <input type="text" id="player1_name" name="Player1" placeholder="Jugador uno" required>
    <label>
      Player 2:
    </label>
    <input type="text" id="player2_name" name="Player2" placeholder="Jugador dos" required>
    <button id="btn_jugar" >Jugar</button>
  </from>
</div>

<div id="game">
<%= erb :game, layout: true %>
</div>


