<header>
  <img src="img/codea-logo.png" id="logo">
</header>
  <h1 id="main-title">¡RAYUELA!</h1>

<div id="Users">
    <label>
      Player 1:
    </label>
    <input type="text" id="player1_name">
    <label>
      Player 2:
    </label>
    <input type="text" id="player2_name">
    <button id="btn_jugar" >Jugar</button>
</div>

<div id="game">
  <button id="start_btn">Start</button><br><br>

  <div id="ronda">
  </div>

  <div id="players">
  </div>

  <div id="cuenta">
  </div>

  <div id="resultado">
  </div>

  <table class="table">
    <tr id="Player1">
    </tr>

    <tr id="Player2">
     </tr>
  </table>
</div>


