  Agrega un URL y hazlo corto: <br>
  <textarea rows="4" cols="50" type="text" name="long_url"></textarea>
  <textarea rows="4" cols="10" type="text"><%=@short%></textarea><br>
  <button formmethod = "post" formaction = "/urls" type="submit" name="Submit">Make shorter</button>

  