<h1><%= @variable %></h1>
<% if @variable == "Registrate" %>
<form>
    Nombre:<br><input type="text" name="name"><br>
    Email:<br> <input type="email" name="email"><br>
    Contrase침a:<br> <input type="password" name="password"><br>
    <button formmethod="post" formaction="/reg" type="submit">Aceptar</button>
    <button formmethod="post" formaction="/" type="submit">Atras</button>
</form>
<% else %>
<form>
    Email:<br><input type="email" name="email" ><br>
    Contrase침a:<br> <input type="password" name="password"><br>
    <button formmethod="post" formaction="/login" type="submit">Aceptar</button>
    <button formmethod="post" formaction="/" type="submit">Atras</button>
</form>
<% end %>
  <h6> *Esta es la pagina de internet m치s simple que jam치s haya sido creada, esperamos que no te diviertas y que tu experiencia con nosotros sea extremadamente desagradable.</h6>