 <h1>Bienvenido a Short Urls</h1>
<!-- Aquí deberá ir la forma de HTML -->
<form action="/urls" method ="post">
  Type an URL and make ir shorter: <br>
  <input type="text" name="long_url"><br>
  <br>
  <input type="submit" name="Submit" value="Make shorter">
</form>

<% if @bu %>
<form action="/short_url" method ="post">
  <br> Type your short URL: <br>
  <input type="text" name="short_url">
  <input type="submit" name="Submit" value="GO">
</form>
<% end %>

<% if @urls %>
  <h2>Urls available: </h2>
  <%  @urls.each do |url| %>
    <p>Host: <%=  url[0] %>    GO: <%=  url[1] %>    Click's: <%=  url[2] %></p>
  <% end %>
<% end %>


