<div class="container">
  <div class="text-center">
    <h1>Bienvenido</h1>
    <h3>Por favor inicia sesi칩n</h3>
  </div>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="user">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email...">
    </div>
    <div class="form-group">
      <label for="pwd">Contrase침a</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Contrase침a...">
    </div>
    <button type="submit" class="btn pull-right btn-success">Aceptar</button>
  </form>
  <div class="col-md-12">
    <h6>*Esta pagina no es una simulaci칩n de un blog real, no te emociones.</h6>
  </div>
</div>
  